img {
  width: 200px;
  height: 200px;
}

.icon {
  background-image: url('../assets/image/files.svg');
  background-size: 150px;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}

a {
  text-decoration: none;
  color: white;
}